﻿﻿@{
ViewData["Title"] = "Créditos";
}

<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-3">
        <div class="card-body text-center">
            <h2 class="mb-4 text-primary">
                👨‍💻 Sistema de Produtos
            </h2>

            <p class="lead">
                Este programa foi desenvolvido por
                <strong>Cauã Barros</strong> e
                <strong>Eduardo Miranda</strong>.
            </p>

            <hr class="my-4" />

            <p class="fs-5 text-muted">
                Use o menu acima para voltar a home.
            </p>
        </div>
    </div>
</div>